.signup-form {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &-block {
    display: flex;
    gap: 12px;

    > ctf-text-input {
      flex: 1 1 0;
    }
  }

  &-button {
    padding-top: 6px;
  }
}
