<section class="signup-container">
	<ctf-adaptive-container>
		<div class="signup-container-wrapper">
			<div class="signup-container-header">
				<h1 class="signup-container-title" data-testid="signup-container-title">
					Create your account
				</h1>

				<span class="signup-container-description">
					Join Chatify and start connecting with friends.
				</span>
			</div>

			<div class="signup-container-auth">
				<ctf-signup-form />
				<ctf-auth-switch />
			</div>
		</div>
	</ctf-adaptive-container>
</section>
