*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

body {
  min-height: 100dvh;

  font-family: Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: vertical;
}
